<header>
  <nav class="navbar navbar-expand-lg navbar-white bg-white">
    <div class="container">
      <a class="navbar-brand" href="/"><span>LOGO</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <li>
            <%= link_to admin_products_path,class: 'nav-link text-light' do %>
              <i>商品一覧</i>
            <% end %>
          </li>
          <li>
            <%=  link_to admin_customerss_path,class: 'nav-link text-light' do %>
              <i>会員一覧</i>
            <% end %>
          </li>
          <li>
            <%=  link_to admin_order_details_path ,class: 'nav-link text-light' do %>
              <i>注文履歴一覧</i>
            <% end %>
          </li>
           <li>
            <%=  link_to admin_genres_path ,class: 'nav-link text-light' do %>
              <i>ジャンル一覧</i>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
              <i>ログアウト</i>
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to about_path,class: 'nav-link text-light' do %>
              <i>About</i>
            <% end %>
          </li>
          <li>
            <%= link_to admin_products_path,class: 'nav-link text-light' do %>
              <i>商品一覧</i>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
              <i>新規登録</i>
            <% end %>
          </li>
          <li>
            <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
              <i>ログイン</i>
            <% end %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
